table,th,td{
    border: solid 1px blue;
    border-collapse: collapse;
}

table{
    width:60%;
}

th,td{
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

td{
    padding:15px;
}